*{
    border:0;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
    border: 2px solid rgb(17, 16, 16);
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
}

.header{
    height: 400px;
    background-repeat:no-repeat;
    background-size:contain;
}

.nav{
    height: 40px;
    background-color: rgb(87, 83, 83);
    font-size: 32px;
    color: goldenrod;
    font-weight: 400;
    font-family: serif;
    text-align: center;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: goldenrod;
}
a:hover {
    text-decoration-line: underline;
    font-family: sans-serif;
    background-image: inherit;
}

.main-content{
    width: 550px;
    float: left;
    min-height: 400px;
}

.sidebar{
    width: 350px;
    background-color: #eee;
    float: right;
    min-height: 400px;
}

.footer{
    height: 75px;
    background-color: #ccc;
}

.clear{
    clear: both;
}

h1{
    color:grey;
}

th{
    height: 15px;
    text-align: left;
    vertical-align: middle;
    color: #200;
}

table,td{
    margin-top: 10px;
    margin-left: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    color: goldenrod;
    background-color: rgb(59, 56, 56);
}

td:hover{
    background-color: goldenrod;
    color: #200;
    font-size: 120%;
    font-weight: bolder;
}

tr:nth-child(odd){
    background-color: goldenrod;
}

tr:nth-child(even){
    background-color: #200;
}

.pachet-bronze{
    text-align: justify;
    border-width: 1px;
    border-style: solid;
    float: right;
    width:178px;
    height:243px;
    margin-left: 3px;
}

h3{
    text-align: center;
}