.light{
    background-color: lightgoldenrodyellow;
    color: darkseagreen;
}

.dark{
    background-color: #333333;
    color: lightskyblue;
}

.colorful{
    background-color: mediumaquamarine;
    color: magenta;
}