#calculator{
    width: 320px;
    height: 520px;
    background-color: #e1e2e3;
    margin: auto;
    border-radius: 10px;
}
#result {
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin:15px;
    padding-top: 10px;
    font-size: 20px;
    color: #818181;
}
#editor{
    text-align: right;
    height: 60px;
    margin: 15px;
    font-size: 35px;
}
#keys {
    height: 400px;
}

.operator, .number {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-style: none;
    background-color: #d5d6d7;
    font-weight: 900;
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 12px;
}

.operator:focus, .number:focus {
    outline: 0;
}

