body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title {
    margin-bottom: 50px;
    text-align: center;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
