.div1{
    font-size: 30px;
    color: brown;
}

.div2{
    font-size: 30px;
    color: rgb(65, 42, 165);
}

.div3{
    font-size: 30px;
    color: rgb(77, 165, 42);
}

.div4{
    font-size: 30px;
    color: rgb(63, 41, 9);
}