.formatareBackground {
    background-color:#585353;
}
.formatareMeniu{
    background-color: rgb(150, 144, 150);
    border: rgb(72, 41, 90);
    border-style: solid;
    border-width: 5px;
    font-family: monospace;
    font-size: larger;
    margin-left: 500px;
    margin-bottom: 1000
    px;
    }
    a:hover {
        background-color: rgb(83, 76, 100);
        color: rgb(110, 7, 64);
        font-style: oblique;
    }
    table, tr, td{
        border: 1px solid rgb(247, 241, 241);
        
    }
    .formatarePrimulRandTabel{
        background-color: darkorchid;
        color: burlywood;
        
}
    table{
        border-collapse: collapse;
        margin-left: 250px;
        
    }
        
    .formatareRanduriTabelContinut{
        text-align: center;
        color: burlywood;
    }
    
    tr:hover{
        background-color: brown;
        color: rgb(96, 96, 138);
    }
    .formatareDiv{
        float: right;
        height: 200px;
        width: 200px;
        border: 1px solid  rgb(224, 214, 214) ;
        border: firebrick 5px double  ;
        padding: 50px;
        margin-right: 20px;
        border-radius: 20px;
    
       }
       .divChitara{
        width: 500px;
        height: 500px;
        border-style: solid ;
        background-image: url(../resurse/lgt.jpg);
        background-size: cover;
        }
       

  