/* Coolors Exported Palette - coolors.co/b21e2f-ffffff-f1be65-2f4753-630e53 */
/* RGB */
$color2: rgba(255, 255, 255, 1);
$color3: rgba(241, 190, 101, 1);
$color4: rgba(47, 71, 83, 1);
$color5: rgba(99, 14, 83, 1);
