h1 {
    background-color: rgb(149, 218, 22);
    text-align: center;
    color: rgb(22, 148, 49);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
}

.chestionar{
    border-style: solid;
    margin: 100px;
    border-radius: 10px;
    padding-left: 50px;
    background-color: honeydew;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
}

.question {
    background-color: rgb(83, 163, 87);
    text-align: left;
    border-style: solid;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
}