body {
    background-color: #cccccc;
    
}
h3 {
    text-align: center;
}
.content1 {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.first-paragraph{
    background-color: #dcd0dc;
    font-stretch: expanded;
    font-family: sans-serif, "Helvetica Neue";
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.image {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.second-paragraph {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-stretch: expanded;
    font-family: sans-serif, "Helvetica Neue";
    padding-left: 30px;
    padding-right: 30px;

}
.video { 
    float:left;
    margin-right: 10px;
}
.third-fourth-paragraph {
    font-stretch: expanded;
    font-family: sans-serif, "Helvetica Neue";
    float: inline-start;
    text-align: left;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-stretch: expanded;
}
.third-fourth-paragraph:hover {
    background-color: #33dd77;
}a {
    margin: 25px 25px 0px 150px;
}
a:hover{
    background-color: beige;
}
.last-paragraphs{
    margin-top: 30px;
    text-align: justify;
}
#fifth {
    background-color: #e36222;
}
#sixth {
    background-color: #07889B;
}
#seventh {
    background-color: #66b9BF;
}