*{
    box-sizing: border-box;
}
.row::after{
    content:"";
    clear:both;
    display:both;
}

[class*="col-"]{
    float:left;
    padding-left: 15px;
    border:1px solid green;
}
.col-1{
    width:8.33%;
}
.col-2{
    width:16.66%;
}
.col-3{
    width:24.99%;
}