html {
    background-color: teal;
}

.green-text {
    color: greenyellow;
}

.red-text {
    color: red;
}

.sum {
    color: teal;
}

.lemon-bkgd {
    background-color: yellow;
}

.lime-bkgd {
    background-color: lime;
}

.grey-bkgd {
    background-color: grey;
}