body {
    background-color: #cccccc;
}
h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #86b5d8;
}
li {
    text-align: center;
}
  a:hover {
      color: #33dd77;
  }
.skills {
    background-color: #2f4759;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}
progress {
    width: 75%;
    height: 18px;
    color: #33658a;
    background: center;
}
progress::-webkit-progress-bar {
    background: #1893f2;
}
progress::-webkit-progress-value {
    background: #2c9df4;
}
progress::-moz-progress-bar {
    color:#1893f2;
    background:#2c9df4;
}
.center {
    text-align: center;
}
div {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  iframe {
      display: block;
      margin-left:auto;
      margin-right:auto;
      width:30%;
  }
  .submit {
      background-color: #1893f2;
      padding: 12px 45px;
      border-radius: 5px;
      cursor: pointer;
      border:none;
      outline:none;
      margin:0;
      font-weight: bold;
  }