ul {
    background-position: center;
    background-color: black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
}
table,th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}
tr, td {
    padding: 20px;
    border: 2px solid #333;
    border-collapse: collapse;
    text-align: left;
}