.menu-items {
    background-color: black;
    border: none;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 100%;
}
.items {
    display: inline-block;
}
.active{
    background-color: green;
}
.items a {
    color: white;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}
li a:hover {
    background-color: green;
}