body {
    background-image: url('whiskey-and-cigars-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    background-position: center;
    background-color: black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
}