.red-background{
    background-color: red;
}
.yellow-background{
    background-color: yellow;
}
.blue-background{
    background-color: darkblue;

}
.green-background{
    background-color: darkgreen;
}
.pink-background{
    background-color: pink;
}