.blue-text{
    color: blue;
}
.orange-text{
    color: orange;
}

.yellowClass{
    background-color: yellow;
}
.purpleClass{
    background-color: purple; 
}
.darkblueClass{
    background-color: darkblue;
}