h1{
    text-align: left;
    text-indent: 2px;
    color: darksalmon;
}
body{background-color: mediumturquoise;}
.meniu{
    text-align: right;
}
.meniu-orizontal{
    display: inline-block;
font-size: large ;
text-align: center;
border-color: teal;
border-style: solid;
padding: 6px;
border-radius: 10px;

}
.meniu-orizontal:hover{
    background-color: teal;
    font-weight: 900;
    color: tomato;
}
caption
{
    text-align: left;
color: teal;
font-size: large;
font-weight: bolder;
margin-bottom: 4px;
} 

table,th,td{
    border-color: darkslategray;
    border-style: solid;
    border-width: 1px;
  }

table{
    border-collapse: collapse;
    width:50%;
}

th{
    height: 10px;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(odd){
    background-color: lightsalmon;
}

tr:nth-child(even){
    background-color: floralwhite;
}

td:hover{
    background-color: mediumturquoise;
    color:teal;
}
h2{
    text-align: right;
}
div{
    float: right;
    width: 200px;
    height: 230px;
    border-style: solid;
    border-width: 1px;
    border-color: teal;
    background-color: lightsalmon;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    border-style: double;
 }
 .aport-caloric{
     background-color: teal;
     text-align: center;
 }
 #reteta{text-align: left;}
 .imagine{
     float: left;
    border:1px solid #000000;
    height:700px;
    width: 1200px;
    background-repeat: no-repeat;
    background-image: url("../resurse/cheesecake.jpg");

 }