<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prima mea aplicatie VueJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">

</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <span v-if="userLogat" v-on:click="logout">Bine ai venit {{numeUser}}</span>
                <span v-if="!userLogat">
                    <input type="text" v-model="numeUser">
                    <span v-on:click="login">Login</span v-on:click="login">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    {{titluArticol}}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Acest articol a fost scris de <a :href="linkAutor">{{autor}}</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    {{primulSubtitlu}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    {{primulParagraf}}
                </p>
                <ul>
                    <li v-for="info in listaCunostinte">
                        {{info.text}}
                    </li>
                </ul>
                <img v-bind:src="'../images/' + imageSrc" />
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>